[Unit]
Description=nats-server
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/nats-server_start.sh
ExecStop=/bin/kill -SIGHUP $MAINPID
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target

[LanSrv]
Name=nats-cluster
Port=4248
Protocol=nats