[Unit]
Description=rqlited
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/rqlited_start.sh
ExecStop=/bin/kill -SIGHUP $MAINPID
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target

[LanSrv]
Name=rqlited
Port=4002
Protocol=http